{% extends "personal/header.html" %}

<div class="row">
	{% block content %}
	{% for post in object_list %}
	<div class="col s12 m6">
		<div class="card hoverable blue-grey darken-1">
		<a href="/blog/{{post.id}}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
		<div class="card-content white-text">
			<span class="card-title">{{ post.title }}</span>
			<i class="material-icons grey-text text-darken-4 tiny">date_range</i><small class="grey-text text-darken-4 tiny">{{ post.date }}</small>
			<p class="truncate">{{ post.body | slice:"50" }} {% if post.body|length > 50 %} ... {% endif %}</p>
		</div>
		<div class="card-action">
			<a href="/blog/{{post.id}}">READ MORE</a>
		</div>
		</div>
	</div>
	{% endfor %}
	{% endblock %}
</div>
