{% extends "personal/header.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m12">
        <div class="card teal darken-1">
        <div class="card-content white-text">
            <span class="card-title right-align">{{ post.title }}</span>
            <hr>
            <i class="material-icons grey-text text-darken-4 tiny">date_range</i><small class="grey-text text-darken-4 tiny">{{ post.date }}</small>
            <p>
                {{ post.body | safe | linebreaks }}
            </p>
        </div>
        </div>
    </div>
</div>


{% endblock %}